
html, body {
	width: 100%;
	height: 100%;
}

*, body {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.jng-scrollable {
	-webkit-overflow-scrolling: touch;
    overflow: auto;	
}

.jng-sidebar {
	position: fixed;
	top: 0;
	z-index: 0;
	background-color: #eee;
	display: none;
}

.jng-sidebar-main {
	position: fixed;
	top: 0;
	z-index: 1;
}

.jng-adjust-small {
	font-size: 1em;
}

.jng-adjust-medium {
	font-size: 1.5em;
}

.jng-adjust-big {
	font-size: 2.5em;
}

.jng-smaller {
	font-size: .9em;
}

.jng-bigger {
	font-size: 1.45em;
}

.jng-adjust-medium {
	font-size: 1.5em;
}

.jng-adjust-big {
	font-size: 2.5em;
}

.jng-smaller {
	font-size: .9em;
}

.jng-bigger {
	font-size: 1.45em;
}
