<div class="jng-sidebar-left jng-color-1" jng-sidebar="left1:left">
	<p>Left sidebar 1</p>
</div>

<div class="jng-sidebar-left jng-color-2" jng-sidebar="left2:left">
	<p>Left sidebar 2</p>
</div>

<div class="jng-sidebar-right jng-color-1" jng-sidebar="right1:right">
	<p>Right sidebar 1</p>
</div>

<div class="jng-sidebar-right jng-color-2" jng-sidebar="right2:right">
	<p>Right sidebar 2</p>
</div>

<div id="sidebar" jng-size="1" jng-scrollable class="content">
	<p class="jng-bigger"><strong>Sidebar</strong></p>
	<form class="form-horizontal">
		<fieldset>

			<div class="control-group">

				<div class="controls">
					<div class="btn-group">
						<button class="btn btn-default" ng-click="jngSidebar.open('nav')"
							ng-class="{}">Open nav</button>
						<button class="btn btn-default" ng-click="jngSidebar.open('left1')"
							ng-class="{}">Open left 1</button>
						<button class="btn btn-default" ng-click="jngSidebar.open('left2')"
							ng-class="{}">Open left 2</button>
						<button class="btn btn-default"
							ng-click="jngSidebar.open('right1')" ng-class="{}">Open
							right 1</button>
						<button class="btn btn-default"
							ng-click="jngSidebar.open('right2')" ng-class="{}">Open
							right 2</button>
						<button class="btn btn-default" ng-click="jngSidebar.close()"
							ng-class="{}">Close</button>
					</div>
				</div>

			</div>

		</fieldset>
	</form>

	<br/>
	<a href="#/sidebar-list">Using a sidebar as a context menu</a>
	<br/>
	<br/>

	<form class="form-horizontal">
		<fieldset>

			<legend>Default sidebar params</legend>

			<div class="control-group">
				<label class="control-label">Sidebar width</label>
				<div class="controls">
					<input class="input-xlarge" type="number" ng-model="ui.sidebar.defaults.width">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Main content opening mode</label>
				<div class="controls">
					<label class="radio"> <input ng-model="ui.sidebar.mode"
						value="auto" type="radio"> Auto
					</label><label class="radio"> <input ng-model="ui.sidebar.mode"
						value="shift" type="radio"> Shift
					</label> <label class="radio"> <input ng-model="ui.sidebar.mode"
						value="resize" type="radio"> Resize
					</label>
				</div>
				<label class="control-label">Close Sidebar on view load</label>
				<div class="controls">
					<label class="radio"> <input ng-model="ui.sidebar.closeOnViewChange"
						value="auto" type="radio"> Auto
					</label><label class="radio"> <input ng-model="ui.sidebar.closeOnViewChange"
						value="yes" type="radio"> Yes
					</label> <label class="radio"> <input ng-model="ui.sidebar.closeOnViewChange"
						value="no" type="radio"> No
					</label>
				</div>
				<label class="control-label">Auto width threshold</label>
				<div class="controls">
					<input class="input-xlarge" type="number" ng-model="ui.sidebar.modeAutoThreshold" ng-disabled="ui.sidebar.mode!='auto'">
				</div>
			</div>
 
			<div class="control-group">
				<label class="control-label">Animation</label>
				<div class="controls">
					<input class="input-xlarge" type="number" ng-model="ui.sidebar.defaults.anim">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label">Position</label>
				<div class="controls">
					<label class="radio"> <input ng-model="ui.sidebar.defaults.position"
						value="left" type="radio"> Left
					</label> <label class="radio"> <input ng-model="ui.sidebar.defaults.position"
						value="right" type="radio"> Right
					</label>
				</div>
			</div>


		</fieldset>
	</form>


</div>
